name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

permissions:
  id-token: write       # Required for OIDC
  contents: write       # Required to create a Github release
  pull-requests: write  # Required to add tags to pull requests

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node: [22]
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4      
      - uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}
      - run: pnpm install
      - run: pnpm build
      - name: Lint
        run: pnpm lint
      - name: Check Types
        run: pnpm run check-types
      - name: Unit tests
        run: pnpm test

  tests-chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: pnpm install
      - run: pnpm build
      - name: Unit tests
        run: npx xvfb-maybe pnpm test:chrome

  maybe-release:
    name: release
    runs-on: ubuntu-latest
    needs: [tests, tests-chrome]
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node
          package-name: release-please-action
          bump-minor-pre-major: false
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false}]'

      - uses: actions/checkout@v6
        if: ${{ steps.release.outputs.release_created }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4              
        if: ${{ steps.release.outputs.release_created }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm install
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm build
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm publish --access public --provenance
        if: ${{ steps.release.outputs.release_created }}
